<%= devise_error_messages! %>
<div id="signin_div">
<h3>Resend confirmation instructions</h3>
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>
  <div><%= f.submit "Resend confirmation instructions", :class => "btn btn-small btn-primary" %></div>
<% end %>
<%= render "devise/shared/links" %>
</div>
