<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 7000,
      autoplay: false,
      effect:slide
    })
  });
</script>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => 'payment-form', :multipart => true })  do |f| %>
  <%= devise_error_messages! %>

<div id="myCarousel1" class="carousel slide" >
  <div class="carousel-inner" style="height:1500px;">
    <div class="active item">

      <div id="personal_info">

        
          <h3>Personal Information</h3>
          <hr></hr>
          <span id="personal_info_error" style="color:red;"></span>
          <div>
            <%= f.label "full_Name", 'Full Name <span>*<span>'.html_safe %>
            <%= f.text_field :name%><span id="personal_info_error_name" style="color:red;"></span>
          </div>
          <div>
            <%= f.label "email", "Email <span>*<span>".html_safe %>
            <%= f.email_field :email,:id=>"email_id",:onblur=>"email_validation()" %><span id="personal_info_error_email" style="color:red;"></span>
          </div>
          <div>
            <%= f.label "password", "Password <span>*<span>".html_safe %>
            <i style="font-size:12px;">( Password needs to be minimum 8 characters )</i><br />
            <%= f.password_field :password, :id=>"password" %><span id="personal_info_error_password" style="color:red;"></span>
          </div>
          <div>
            <%= f.label "password_confirmation", "Password Confirmation <span>*<span>".html_safe %>
            <i style="font-size:12px;">( Password needs to be minimum 8 characters )</i><br />
            <%= f.password_field :password_confirmation,:id=>"password_confirmation" %><span id="personal_info_error_cpassword" style="color:red;"></span>
          </div>
          <div>
            <%= f.label :phno, "Mobile Number" %>
            <%= f.text_field :phno %>
          </div>
          <div>
            <%= f.label :add1, "Address1 <span>*<span>".html_safe %>
            <%= f.text_field :add1 %><span id="personal_info_error_add1" style="color:red;"></span>
          </div>
          <div>
            <%= f.label :add2, "Address2" %>
            <%= f.text_field :add2 %><span id="personal_info_error_add2" style="color:red;"></span>
          </div>
          <div>
            <%= f.label "state", "State <span>*<span>".html_safe %>
            <%= f.select :state, State.all.collect {|s| [s.name,s.name]},{:prompt=>"Select State"},:onchange=>"state_city()"%>
            <span id="personal_info_error_state" style="color:red;"></span>
          </div>
          <div class ="control-group">
            <%= f.label "city", "City <span>*<span>".html_safe, :html => {:class => 'control-label'} %>
            <%=f.select :city, {},:prompt=>"Select City"%>
            <span id="personal_info_error_city" style="color:red;"></span>
          </div>
          <div>
            <%= f.label :zipcode, "ZIP Code <span>*<span>".html_safe %>
            <%= f.text_field :zipcode %><span id="personal_info_error_zipcode" style="color:red;"></span>
          </div>
          <%= f.label :image, "Profile Picture" %>
          <%= f.file_field :image, :id => 'user_file', :style => "display:none" %>

          <div class="input-append">
            <input id="photoCover" class="input-large" type="text">
            <a class="btn btn-warning" onclick="$('input[id=user_file]').click();">Browse</a>
          </div>


   
        <div id="next_btn">
          <%=link_to "Next", '#myCarousel1',:class =>"carousel-control right btn-large btn-primary","data-slide"=>"next", :id=>"btn_personal",:onclick=>"button()" %>
        </div>
      </div>
    </div>


    <div class="item">
      <div id="product_select" >

      <div id="scont">
        <h3>Product Selection</h3>
        <span id="product_error" style="color:red;"></span>
        <hr></hr>
        <span id="product_error" style="color:red;"></span>
        <%@i=0%>
        <% Product.all.each do |x| %>
          <div style="margin-left: 12px;">
            <%= radio_button_tag "user[product]", x.id, nil, :id=>"product", :onclick => "company()" %>&nbsp;<%=  x.name%>
          </div><br/>
          <% @i+=1 %>
        <% end %><br />
        <div id="company_details">

        </div>
        <br />
      </div>
      <%= link_to "Previous","#myCarousel1", :class =>"carousel-control left btn-large btn-primary","data-slide"=>"prev" %>
      <div id="next_btn">
        <%=link_to "Next","#myCarousel1",:class => "carousel-control right btn-large btn-primary",:id=>"btn_product","data-slide"=>"next" %>
  <%#= link_to "Ok",'#', :onclick=>"packages()", :class => 'btn' %>
      </div>
    </div>

    </div>


    <div class="item">
<div id ="package_info">

      <div id="scont">
        <div id="packages">
        </div>
      </div>
      <%= link_to "Previous","#myCarousel1", :class =>"carousel-control left btn-large btn-primary","data-slide"=>"prev" %>
      <div id="next_btn">
        <%=link_to "Next","#myCarousel1",  :class => "carousel-control right btn-large btn-primary",:id=>"btn_package","data-slide"=>"next"%>

      </div>
    </div>
    </div>
    <div class="item">
      <div id="payment">
      <div id="scont">
        <h3>Payment Process</h3>
        <hr></hr>
        <div class = "payment-errors" style="margin:0 0 20px 15px; color: red;">
        </div>
        <div class="field" >Total Payable Amount($): <%= hidden_field_tag "total_amount","",:class=> "money" %>
         &nbsp;&nbsp; <%= text_field_tag "total_amount1","",:class=> "money",:disabled=>true %></div>


        <div class="field" style="padding:20px 0px;">
          <%=hidden_field_tag "type_of_transaction",1%>
          <%#=radio_button_tag "type_of_transaction", 1%> <%#= "Card Pay" %>  <%#=radio_button_tag "type_of_transaction", 2%> <%#="Direct Debit Setup" %>
        </div>
        <div class="field">

         <%=label_tag :coupon_id, "Enter Coupon Code to get discount"%>
          <i style="font-size: 10px;">( Leave blank if no coupon is available now. )</i><br />
          <%=text_field_tag "coupon_id", nil, :onblur=>'apply_discount()' %>
          <div id='discounted_total'></div>
        </div>
        <div class="field">
          <%= label_tag :card_number, "Credit Card Number <span>*<span>".html_safe %>
          <%= text_field_tag "card-number", nil, name: nil %>
        </div>
        <div class="field">
          <%= label_tag :card_code, "Security Code on Card (CVV) <span>*<span>".html_safe %>
          <%= password_field_tag "card-cvc", nil, name: nil, :style => "width:50px;" %>
        </div>
        <div>
          <%= label_tag :card_month, "Card Expiration <span>*<span>".html_safe %>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card-expiry-month"} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card-expiry-year"} %>
        </div></div>
      <%= link_to "Previous","#myCarousel1", :class =>"carousel-control left btn-large btn-primary","data-slide"=>"prev" %>
      <div id="next_btn">
        <%= f.submit "Sign up", 'data-disable-with' => "Processing",  :class=>"btn-large btn-primary"%>
      </div>
    </div>
    </div>

  </div>
  <%#*<a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a>%>
  <%#*<a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a>%>
</div><!-- end of carousel -->
<% end %>


<%= javascript_include_tag "registrations" %>
<script>

  function state_city()
  {
    $.ajax({
      type: 'GET',
      url: "/home/state_cities",
      data: {
        'state' :  $("#user_state").val()
      }
    }).done(function(text) {
  $('#user_city').empty().append(text);
    });
  }

  //file upload button
  $('input[id=user_file]').change(function() {
   $('#photoCover').val($(this).val());
});
function apply_discount()
{
  $.ajax({
    type:'GET',
    url: '/home/check_discount',
    data:{
      code: $('#coupon_id').val(),
      amount:$('#total_amount').val()
    }
  }).done(function(html){

    $('#discounted_total').html(html)

  });
}

$(document).ready(function(){
company();
});
function company()
{
  $.ajax({
    type: 'GET',
    url: '/companies/new',
    data:{
      product: $("input[name='user[product]']:checked").val()
    }
  }).done(function(html){
    $('#company_details').html(html)
  });
}

</script>
<%#= render "devise/shared/links" %>
<%#= javascript_include_tag "jquery.slides.min" %>
<style>
  span{
    color: red;
}
</style>