
<style>
  /* Prevent the slideshow from flashing on load */

  #slides {
    margin-top:100px;
    margin-left: 20%;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
    width:37% !important;
    font-family:fantasy;
    padding: 2%;
    background: url(bg2.png);
    background-repeat: repeat;
    border-radius:20px;


  }

  /* Center the slideshow */
  .container {
    margin: 10px 100px 10px 100px;

  }

  /* Show active item in the pagination */
  .slidesjs-pagination .active {
    color:red;
  }

  #scont{

    height: 500px;
  }
  #next_btn{
    float :right;

    margin-bottom: 50px;
  }

  body {
    -webkit-font-smoothing: antialiased;
    font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #232525;
  }

  #slides .slidesjs-navigation {
    margin-top:3px;
  }

  #slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
  }

  #slides .slidesjs-next {
    margin-right: 5px;
    float: left;
  }

  .slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
  }

  .slidesjs-pagination li {
    float: left;
    margin: 0 1px;
  }

  .slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(/img/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
  }

  .slidesjs-pagination li a.active,
  .slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
  }

  .slidesjs-pagination li a:hover {
    background-position: 0 -26px
  }

  #slides a:link,
  #slides a:visited {
    color: #333
  }

  #slides a:hover,
  #slides a:active {
    color: #9e2020
  }
  #payment,#package_info, #product_select, #personal_info{



  }
  .money{background:url(icon-money.png)  11px  11px no-repeat #fff; padding-left:40px;width: 50px; }

</style>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => 'payment-form', :multipart => true })  do |f| %>
  <%= devise_error_messages! %>
  <%#= render 'shared/error_messages', :target => @user %>

  <div id="slides" >
    <div id="personal_info">
      
      <div id="scont">
        <h3>Personal Information</h3>
        <hr></hr>
        <span id="personal_info_error" style="color:red;"></span>
        <div>
          <%= f.label "full_Name*" %>
          <%= f.text_field :name,:autofocus=>true%><span id="personal_info_error_name" style="color:red;"></span>
        </div>
        <div>
          <%= f.label :phno, "Mobile Number"%>
          <%= f.text_field :phno %>
        </div>
        <div>
          <%= f.label "email*" %>
          <%= f.email_field :email, :autofocus => true,:id=>"email_id",:onblur=>"email_validation()" %><span id="personal_info_error_email" style="color:red;"></span>
        </div>
        <div>
          <%= f.label "password*" %>
          <%= f.password_field :password, :id=>"password" %><span id="personal_info_error_password" style="color:red;"></span>
        </div>
        <div>
          <%= f.label "password_confirmation*" %>
          <%= f.password_field :password_confirmation,:id=>"password_confirmation" %><span id="personal_info_error_cpassword" style="color:red;"></span>
        </div>
        <div>
          <%= f.label :image, "Profile Picture" %>
          <%= f.file_field :image %>
  <%#=text_field_tag :email_confirm,nil%>
        </div></div>
      <div id="next_btn">
        <%=button_tag "next", :class => "slidesjs-next slidesjs-navigation btn-large btn-primary", :id=>"btn_personal",:onclick=>"button()" %>
      </div>

    </div>
    <div id="product_select" >
      
      <div id="scont">
        <h3>Product Selection</h3>
        <span id="product_error" style="color:red;"></span>
        <hr></hr>
        <span id="product_error" style="color:red;"></span>
        <%@i=0%>
        <% Product.all.each do |x| %>
          <div>
            <%= radio_button_tag "user[product]", x.id,nil,:id=>"product" %>&nbsp;<%=  x.name%>
          </div><br/>
          <% @i+=1 %>
        <% end %><br />
      </div>
      <div id="next_btn">
        <%=button_tag "next",:class => "slidesjs-next slidesjs-navigation btn-large btn-primary",:id=>"btn_product" %>
  <%#= link_to "Ok",'#', :onclick=>"packages()", :class => 'btn' %>
      </div>
    </div>
    <div id ="package_info">
      
      <div id="scont">
        <div id="packages">

        </div></div>
      <div id="next_btn">
        <%=button_tag "next",  :class => "slidesjs-next slidesjs-navigation btn-large btn-primary",:id=>"btn_package"%>
  <%#= link_to "Ok",'#', :onclick=>"packages()", :class => 'btn' %>
      </div>
    </div>
    <div id="payment">
      <div id="scont">
        <h3>Payment Process</h3>
        <hr></hr>
        <div class = "payment-errors">
        </div>
        <div class="field" >Total Payable Amount : <%= hidden_field_tag "total_amount","",:class=> "money" %>
          <%= text_field_tag "total_amount1","",:class=> "money",:disabled=>true %></div>


        <div class="field" style="padding:20px 0px;">
          <%=radio_button_tag "type_of_transaction", 1%> <%= "Card Pay" %>  <%=radio_button_tag "type_of_transaction", 2%> <%="Direct Debit Setup" %>
        </div>
        <div class="field">

        </div>
        <div class="field">
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag "card-number", nil, name: nil %>
        </div>
        <div class="field">
          <%= label_tag :card_code, "Security Code on Card (CVV)" %>
          <%= text_field_tag "card-cvc", nil, name: nil %>
        </div>
        <div>
          <%= label_tag :card_month, "Card Expiration" %>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card-expiry-month"} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card-expiry-year"} %>
        </div></div>
      <div id="next_btn">
        <%= f.submit "Sign up",  :class=>"btn-large btn-primary", :disable_with => "Please wait.." %>
      </div>
    </div>
  <%#= link_to "pre",'#', :class =>"slidesjs-previous slidesjs-navigation" %>
  <%#= link_to "next",'#',  :class => "slidesjs-next slidesjs-navigation" %>
  </div>
<% end %>
<%= javascript_include_tag "registrations" %>
<%#= render "devise/shared/links" %>
<%#= javascript_include_tag "jquery.slides.min" %>
