<!-- Load Feather code -->
<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
<!-- Instantiate Feather -->
<script type='text/javascript'>
   var featherEditor = new Aviary.Feather({
       apiKey: 'RvudU_oOFka2BrKDAVGXDQ',
       apiVersion: 2,
       tools: 'brightness,saturation,sharpness,contrast',
       appendTo: '',
       onSave: function(imageID, newURL) {
           var img = document.getElementById(imageID);
           img.src = newURL;
           $('#painting_remote_image_url').val(newURL);
           $('#image_updated_id').val(imageID);
           $('form#updated_image_form').submit();
       },
       onError: function(errorObj) {
           alert(errorObj.message);
       }
   });
   function launchEditor(id, src) {
       featherEditor.launch({
           image: id,
           url: src
       });
      return false;
   }
 
</script>
<div id='injection_site'></div>
<div class="painting" style="height: 250px;" >
  <div style="height: 140px; width: 180px;">
    <%= image_tag(painting.image_url(:medium), :id => painting.id)%>
  </div>
  <div class="name">
    <%#= painting.name %>
    <%# @names= ["Living Rm", "Kitchen", "Den", "Great Rm", "Dinning Rm", "Bath Rm", "Master Batch", "Half Batch", "Master Bed Rm", "Bed Rm1", "Bed Rm2", "Bed Rm3"] %>
<%@names=["Living Room", "Kitchen", "Den", "Great Room", "Dinning Room","Bath Room", "Bed Room","Others"]%>
<%= select_tag "Name", options_for_select(@names), :id => "select#{painting.id}",:onchange=>"check_others(#{painting.id})" ,:prompt=>"Please Select Name..",:style=>"width: 100%"%>
  <div id="other-name<%=painting.id%>">

  </div>
  </div>
  
  
  <div class="actions" style="font-size:14px;">
    <%= link_to "edit", '#', :onclick=>"return launchEditor('#{painting.id}', 'http://virtuali.herokuapp.com#{painting.image_url(:large)}');"%> |
    <%#= link_to "remove", painting, :method => :delete, :confirm => "Are you sure1?" %> <span class="badge badge-info" style="float:right; font-weight: bold"><%#=$serial_no +=1%></span>
  <%= link_to "remove", "#", :class=>"removed", :id=>painting.id, :onclick=>"remove_image(#{painting.id})"%> <span class="badge badge-info" style="float:right; font-weight: bold"><%#=$serial_no +=1%></span>

  </div>
</div>