<% if verify_tours_allowed %>
<div class="span12" style="margin-left: 15%;">
  <p class="title-text">Create a Tour</p>
  <%= render 'shared/error_messages', :target => @tour  %>
<%= form_for Painting.new do |f| %>
  <%$serial_no=0%>
<div class="fileupload btn btn-primary">
  <%= f.label :image, "+ Add Files", :style => 'margin-top: 5px;'%>
  <%= f.file_field :image, multiple: true, name: "painting[image]" %>
<% end %>
</div>
<span id="painting_error"></span>
<div id="paintings">
  <%= render @paintings %>
  
</div>

<br/>
</div>
<%= form_for @painting,:url=>'update', :html => {:multipart => true, :id=>"updated_image_form"} do |f| %>
<%=f.hidden_field "id",:id=>"image_updated_id"%>
<%=f.hidden_field "remote_image_url"%>
<%#= f.submit "Done", :class=>"btn-small btn-success"%>
<%end%>
<div class="span12" style="margin-left:15%;">
<%= form_for @tour, :url => '/tours/create', :html =>{:class => "form-horizontal"}  do |f| %>
 <h3><legend>Tour Details:</legend></h3>
<div style="float:left;">
   <div class ="control-group">
  <%= f.label "Category*", :html => {:class => 'control-label'} %>
  <%= f.select :product_id, @products.collect{|p| [p.name,p.id]},{:prompt=>"Select Category"} %>
  </div>
  <div class ="control-group">
  <%= f.label "Address1*", :html => {:class => 'control-label'} %>
    <i style="font-size:12px;">( Address1 Format Ex: 19 Quaker Ridge Rd )</i><br />
  <%= f.text_field :address1 %>
  </div>
  <div class ="control-group">
  <%= f.label "Address2 (Optional)", :html => {:class => 'control-label'} %>
  <%= f.text_field :address2 %>
  </div>
<div class ="control-group">
  <%= f.label "state*", :html => {:class => 'control-label'} %>
  <%#= f.text_field :state %>
 
  <%=f.select :state, State.all.collect {|s| [s.name,s.name]},{:prompt=>"Select State"},:onchange=>"state_city()"%>
</div>
<div class ="control-group">
  <%= f.label "city*", :html => {:class => 'control-label'} %>
  <%#= f.text_field :city %>
  <%=f.select :city, {},:prompt=>"Select City"%>

</div>
<div class ="control-group">
  <%= f.label :zip, "Zip Code*:", :html => {:class => 'control-label'} %>
  <%= f.text_field :zip %>
</div>

</div>
<div class="span1"></div>
<div style="float:left; ">
<div class="control-group">
  <%= f.label "price*" %>
  <%= f.text_field :price %>
</div>
<div class="control-group">
  <%= f.label "square_footage*" %>
  <%= f.text_field :square_footage %>
</div>
<div class="control-group">
  <%= f.label :bed_rooms %>
  <%= f.text_field :bed_rooms %>
</div>
<div class="control-group">
  <%= f.label :bath_rooms %>
  <%= f.text_field :bath_rooms %>
</div>
  <div class ="control-group">
  <%= f.label "subdivision*", :html => {:class => 'control-label'} %>
  <%= f.text_field :subdivision %>
</div>
  
</div>

<div style="float:left;margin-top: 0px;margin-right:26%;width: 650px;">
<div>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 10, :style=>"width: 87%;", :class=>'wysihtml5'%>
</div>
</div>
<div style="float:left;margin-top: 10px;clear: both;">
<div>
  <%= f.submit :class => 'btn btn-large btn-primary' %>
</div>
<% end %>
</div>
</div>
<script id="template-upload" type="text/x-tmpl">
<%#*<div class="upload">%>
  <%#*{%=o.name%}%>
  <%#*<div class="progress"><div class="bar" style="width: 0%"></div></div>%>
<%#*</div>%>
</script>
<%else%>
<br/><br/><br/><br/><br/><br/>
You have already published Sufficient Tours. To create more tours upgrade your Subscription.
<%end%>

 <script>
   $(document).ready(function(){
      $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
     });
     $.ajax({
      type: "GET",
      url:"/paintings/count_rooms",
      data:{
        
      }
    }).done(function(text){
   
     text = text.split(',');

          $("#tour_bed_rooms").val(text[0]);
          $("#tour_bath_rooms").val(text[1]);
    });
   });
 function state_city()
  {
    $.ajax({
      type: 'GET',
      url: "/home/state_cities",
      data: {
        'state' :  $("#tour_state").val()
      }
    }).done(function(text) {
  $('#tour_city').empty().append(text);
    });
  }
  
  function check_others(id)
  { var name= $("#select"+id).val();
    //alert(name);
    if (name == 'Others') {
      $('#other-name'+id).show();
            $('#other-name'+id).html("<input type=text id='text"+id+"'name='name' onblur='text_field_data("+id+")>");
        } else {
            $('#other-name'+id).hide();
            set_image_name(name, id);
        }
  }
  function text_field_data(id)
  {
    var name= $("#text"+id).val();
    //alert(name);
    if (name != "") {
    set_image_name(name, id);
    }
    else{
      alert("Name cant be empty")
    }
  }

  function set_image_name(name, id)
  {
    //var name= $("#select"+id).attr('value');

   //alert(name);
    
    $.ajax({
      type: "GET",
      url:"/paintings/set_name",
      data:{
        id: id,
        name: name
      }


    }).done(function(text){
    //alert(text);
     text = text.split(',');
    
          $("#tour_bed_rooms").val(text[0]);
          $("#tour_bath_rooms").val(text[1]);
    });
  }
</script>