<%#= render 'side_buttons'%>
<script>
  $(document).ready(function(){

    $.ajax({
      type: 'GET',
      url: '/tours/user_tours'

    }).done(function(html) {
      $("#user_tours").html(html);
    });
    
  });
  function display_tours(){
    $.ajax({
      type: 'GET',
      url: '/tours/user_tours',
      data: {
        product_id: $('#product_id').val()
      }
    }).done(function(html) {
      $("#user_tours").html(html);

    });

  }
  function display_tours_for_status(){
    $.ajax({
      type: 'GET',
      url: '/home/user_tours_status_change',
      data: {
        product_id: $('#product_id_status').val()
      }
    }).done(function(html) {
      $("#tour_status").html(html);

    });

  }
  function change_status(tour)
  {
    
    
    sts=$("#"+tour).val();
    $.ajax({
      type: 'GET',
      url: "/tours/status_change",

      data: {
        'id' : tour,
        'status': sts
      }

    }).done(function(text) {
      $("."+tour).text(text);
    });
  }
</script>
<div class="navbar">
  <div>
    <ul class="nav" style="height:100px;margin-left: 14%;margin-top:2%;width:68%">
      <li class="active tab"><%= link_to "Dashboard", "#div_dashboard", "data-toggle" => "tab"%> </li>
      <li class="tab"><%= link_to "Status", '#div_status', "data-toggle" => "tab"%> </li>
      <li class="tab"><%= link_to "Billing", '#div_billing', "data-toggle" => "tab" %></li>

      <li class="tab"><%= link_to "Profile", '#div_profile', "data-toggle" => "tab" %></li>
      <li class="tab"><%#= link_to "Manage Account", '#div_manage', "data-toggle" => "tab"%> </li>
      <li class="tab"><%#= link_to "Upgrade Account", '#div_upgrade', "data-toggle" => "tab"%> </li>
    </ul>

  </div></div>

<%= render 'payment_form' %>
<%=render "tab_content"%>

<style>
  .tab{
    width:25%;
    text-align:center;
  }
  .tab > a{
    font-size:20px;
    font-weight: bold;
    line-height: 4;
    box-shadow:10px 10px 5px #888888;
    color:#0088CC !important
  }
  .tab > a:hover{
    color: black !important;
  }
</style>
