<%= render 'side_buttons'%>
<div class="row" style="float: left;padding-right:30px;padding-bottom:30px;width:900px;height:780px;margin-left:10%;margin-top:2%;  ">
<div class="span9">
<ul class="nav nav-tabs">

  <li class="active"><%= link_to "Status", '#div_status', "data-toggle" => "tab"%> </li>
  <li><%= link_to "Billing", '#div_billing', "data-toggle" => "tab" %></li>
  <li><%= link_to "How to?", '#div_how', "data-toggle" => "tab"%> </li>
  <li><%= link_to "Profile", '#div_profile', "data-toggle" => "tab" %></li>

</ul>
  <%=render "tab_content"%>
</div>
</div>

