<%#= render 'side_buttons'%>
<script>
  $(document).ready(function(){
      $.ajax({
        type: 'GET',
        url: '/tours'

      }).done(function(html) {
        $("#user_tours").html(html);
      });
  });
  </script>
  <div class="navbar navbar-inverse" style="margin-top:5%;">
  <div class="navbar-inner"style="border-radius:30px;">
<ul class="nav">
<li class="active tab"><%= link_to "Dashboard", "#div_dashboard", "data-toggle" => "tab"%> </li>
  <li class="tab"><%= link_to "Status", '#div_status', "data-toggle" => "tab"%> </li>
  <li class="tab"><%= link_to "Billing", '#div_billing', "data-toggle" => "tab" %></li>
  <li class="tab"><%#= link_to "How to?", '#div_how', "data-toggle" => "tab"%> </li>
  <li class="tab"><%= link_to "Profile", '#div_profile', "data-toggle" => "tab" %></li>

</ul>
  </div></div>
  <%=render "tab_content"%>


<style>
  .tab{
    font-size:20px;
}
.tab > a:hover{
  color: white !important;
}
</style>
