<% if current_user %>

  <%current_user.selected_packages.each do |pkg|%>
    <%initiate(pkg)%>
    <div class="container-fluid">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <%=pkg.name%> <%20.times do %>&nbsp;<%end%>Status: <%=pkg.status_info%> <%20.times do %>&nbsp;<%end%> Price: $<%=pkg.price%>
            <%=link_to "view","##{pkg.id}",:class=>"accordion-toggle", "data-toggle"=>"collapse" %>


<%@pkg_id=pkg.id%>

          </div>
          <div id="<%=pkg.id%>" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
              <div class="row-fluid">

                <div class="span6">
                  Start Date: <%=start_date%>
                </div><div class="span6">
                  Expires on: <%=end_date%>
                </div><div class="span5">
                  Number of Pictures <%=pictures%>
                </div><div class="span5">

                  <%unless current_user.card.nil?%>
                    <div id="alert_message"> <%unless pkg.status==3%>
                     
                        <%=button_tag "Unsubsribe",:class=>"btn btn-danger",:onclick=>"unsubsribe(#{pkg.id})"%>
                      <%else%>
                      
                        Unsubscribed 
                      <%end%>
                    </div>
                  <%else%>
                  <%= render 'renew_form' %>
    <%= link_to "Renew", "#renew", "data-toggle" => "modal", :class=>"btn btn-success"  %>

                    <%#=button_tag "Renew",:class=>"btn btn-success",:onclick=>"renew()"%>
                  <%end%>

                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  <%end%>

<%else%>
<%end%>
<script>
  function unsubsribe(id)
  {
    
    $.ajax({
      type: 'GET',
      url: "/home/unsubsribe_package",

      data: {
        'id' : id
      }

    }).done(function(text) {
      $("#alert_message").append(text);
    });
  }
</script>