<% if current_user %>

<%pkg=current_user.selected_package %>
    <%initiate(pkg)%>
<div style="float:right;margin-right: 50px; margin-bottom: 20px;" >
<%#if !current_user.card.nil?%>
    <%#= render 'card_change_form' %>
    <%#= link_to "Change Card Details", "#card_change", "data-toggle" => "modal", :class => 'btn btn-primary'%>
<%#elsif check_payment_type%>
 <%#= link_to "Create Direct Debit", "#card_details", "data-toggle" => "modal", :class => "btn btn-danger", :onclick=>"create_direct_debit()"  %>
  <%#end%>
  </div>
  <h3> Package Details</h3>
    <div class="container-fluid">
      <div class="accordion" id="accordion2">
        <div >
          <div class="accordion-heading">
            <table class="table  table-striped">
              <tr><th> Name </th><th>Status:</th><th>  Price:</th><th>
              </th></tr>
              <tr><td> <%=pkg.name%> </td><td> <%=pkg.status_info%></td><td> $<%=pkg.price%></td><th style="width:576px;">
<%=link_to "View","##{pkg.id}", "data-toggle"=>"collapse", :class=>"btn btn-link"%>|
<%if verify_renew_date%>
<%= link_to "Renew", "#card_details", "data-toggle" => "modal", :class=>"btn btn-link",:onclick=>"renew(#{pkg.id})"  %>|
<%end%>
      <%#=button_tag "Renew",:class=>"btn btn-success",:onclick=>"renew()"%>
              <%#end%>
                
<%= link_to "Change Package", '/packages/upgrade_package', :class => "btn btn-link" %>|
            <%= link_to "Cancel", "/packages/destroy_user_package", :class => "btn btn-link",:confirm=>"Are You Sure, Your are about to delete your package." %>
<%#=link_to "Payment History","##{pkg.id}payment_history", "data-toggle"=>"collapse", :class=>"btn btn-link"%></th></tr>

 </table>
            <%@pkg_id=pkg.id%>

          </div>
          <div id="<%=pkg.id%>" class="accordion-body collapse" style="height: 0px; ">
            <div>

<table class="table table-bordered">
  <tr>
    <td>Start Date:<%20.times do %>&nbsp;<%end%> <%=start_date%></td>
    <td>Expires on:<%20.times do %>&nbsp;<%end%> <%=end_date%></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center;">
      <h4>Description</h4>
      <hr />
      <ul class="unstyled">
        <li>Number of Pictures:<%=  pictures %></li><br />
        <li><%= description %></li>
      </ul>
      
    </td>
    <%#*<td>%>
      <%#unless current_user.card.nil?%>
      <%#*<div id="alert_message">%>
      <%#unless pkg.status==3%>
      <%#=button_tag "Unsubsribe",:class=>"btn btn-primary",:onclick=>"unsubsribe(#{pkg.id})"%>
      <%#else%>
      <%#*Unsubscribed%>
      <%#end%>
      <%#*</div>%>
      <%#else%>
      <%#= render 'renew_form' %>
    <%#*</td>%>
  </tr>
</table>
            </div>
          </div>
          
        </div>
      </div>
    </div>


<%=render "payment_history"%>
 
 
<%else%>

<%end%>
<script>
  function unsubsribe(id)
  {
    
    $.ajax({
      type: 'GET',
      url: "/home/unsubsribe_package",

      data: {
        'id' : id
      }

    }).done(function(text) {
      $("#alert_message").append(text);
    });
  }
  function renew(id)
  {
  $("#pkg_id").val(id);
  $("#operation_type").val(1);
  $("#type_of_transaction").val(1);
  }
   function create_direct_debit()
  {
    $("#pkg_id").val(null );
    $("#operation_type").val(2);
    $("#type_of_transaction").val(2);
  }
</script>
<style>
  th,td{
    width:200px;
}
</style>