<div style="margin-left: 2%;">
<p><span class="title-text">Company Details</span>&nbsp;<b><%= link_to "Edit".html_safe, "#edit_company", :onclick => "edit_company(#{current_user.company.id})", :class=>"btn btn-link" %></b></p>
<hr />
<% if user.company %>
<div style="float: right; height:200px;width: 120px;">
  <%if user.company.logo?%>
  <%= image_tag user.company.logo_url(:thumb), :class=>'first-grid' %>
  <% else %>
  <%= image_tag 'default_company_logo.png' %>
  <% end %>
  <center>
    <strong><%= user.company.name %> </strong>
    <p><%#= "+1 "+user.company.phno %></p>
  </center>
</div>
<b>Name</b><br />
<%= user.company.name %><br /><br />
<b>Address</b><br />
<%= user.company.address %>
<% end %><br /><br />
<hr />
</div>
