<script>
  $(document).ready(function(){
    $('.carousel').carousel({
    interval: 7000,
    autoplay: true
  })
});
</script>

<div id="myCarousel1" class="carousel slide carousel-fade">
     <div class="carousel-inner">
        <div class="active item"><%= image_tag("slide-01.jpg")%> </div>
        <div class="item"><%= image_tag("slide-02.jpg")%></div>
        <div class="item"><%= image_tag("slide-03.jpg")%></div>
        <div class="item"><%= image_tag("slide-04.jpg")%></div>
        <div class="item"><%= image_tag("slide-05.jpg")%></div>
      </div>
       <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a>
  </div><!-- end of carousel -->

  <div class="container marketing">
<!-- START THE FEATURETTES -->
     <div class="featurette">
        <%= image_tag("home_image2.png", :class => "featurette-image pull-right featurette-image-round-shadow")%>
        <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("home_image3.png", :class => "featurette-image pull-left featurette-image-round-shadow") %>
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">
      <div class="featurette">
        <%= image_tag("home_image1.png", :class => "featurette-image pull-right featurette-image-round-shadow") %>
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
  </div>
      <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
      <!-- Three columns of text below the carousel -->
      
      <div class="pricing_grid row" style="margin-left: 5%; text-align: center;">
        <div class=" first-grid span3" style="margin-left: 80px;height: 400px;">
          <%#*<img class="img-circle" data-src="holder.js/140x140">%>
          <br />
          <p id="price">
            <sup id="dollar-symb">$</sup>10<sub id ="per-month">/Month</sub>
          </p>
          <hr />
          <center><h2>Package1</h2></center>
          <ul class="unstyled">
            <p><li>Vi showcase home page per house one year</li></p>
            <p><li>Template size 600 x 400</li></p>
            <p><li>Pictures resized for brochure listing email back to your email address 900x600</li></p>
            <p><li>Add $15 for 10 picture for a tour</li></p>
          </ul>
          <hr></hr>
          <p><a class="btn" href="/users/sign_up">Sign up Now &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span3" id="long-landing" style="height: 430px;margin: -30px 0 0px 0px; padding: 40px;"><br />
          <%#*<img class="img-circle" data-src="holder.js/140x140">%>
          <p id="price"><sup id="dollar-symb">$</sup>50<sub id ="per-month">/Month</sub></p>
          <hr />
          <center><h2>Package2</h2></center>
          <ul class="unstyled">
            <p><li>Vi showcase home page per house one year</li></p>
            <p><li>Template size 600 x 400</li></p>
            <p><li>Pictures resized for brochure listing email back to your email address 900x600</li></p>
            <p><li>Add $15 for 10 picture for a tour</li></p>
          </ul>
          <hr></hr>
          <p><a class="btn" href="/users/sign_up">Sign up Now &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class=" last-grid span3" style="margin-left: 0px;">
          <%#*<img class="img-circle" data-src="holder.js/140x140">%>
          <br />
          <p id="price">
            <sup id="dollar-symb">$</sup>20<sub id ="per-month">/Month</sub>
          </p>
          <hr />
          <center><h2>Package3</h2></center>
          <ul class="unstyled">
            <p><li>Vi showcase home page per house one year</li></p>
            <p><li>Template size 600 x 400</li></p>
            <p><li>Pictures resized for brochure listing email back to your email address 900x600</li></p>
            <p><li>Add $15 for 10 picture for a tour</li></p>
          </ul>
          <hr></hr>
          <p><a class="btn" href="/users/sign_up">Sign up Now &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
<!-- end of marketing fields -->