<div id="myCarousel1" class="carousel slide carousel-fade">
     <div class="carousel-inner">
        <div class="active item"><%= image_tag("slide-01.jpg")%> </div>
        <div class="item"><%= image_tag("slide-02.jpg")%></div>
        <div class="item"><%= image_tag("slide-03.jpg")%></div>
        <div class="item"><%= image_tag("slide-04.jpg")%></div>
        <div class="item"><%= image_tag("slide-05.jpg")%></div>
      </div>
       <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a>
  </div><!-- end of carousel -->

  <div class="container marketing">

<!-- START THE FEATURETTES -->
     <div class="featurette">
        <%= image_tag("browser-icon-chrome.png", :class => "featurette-image pull-right") %>
        <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("browser-icon-firefox.png", :class => "featurette-image pull-left") %>
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">
      <div class="featurette">
        <%= image_tag("browser-icon-safari.png", :class => "featurette-image pull-right") %>
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <!-- /END THE FEATURETTES -->
<hr class="featurette-divider">
      <!-- Three columns of text below the carousel -->
      <div class="span12">
      <div class="pricing_grid row">
        <div class=" first-grid span3" style="margin-left: 80px;">
          <%#*<img class="img-circle" data-src="holder.js/140x140">%>
          <p id="price"><sup id="dollar-symb">$</sup>50<sub id ="per-month">/Month</sub></p>
          <hr />
          <h2>Package1</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span3" id="long-landing" style="height: 430px;margin: -30px 0 0px 0px; padding: 40px;"><br />
          <%#*<img class="img-circle" data-src="holder.js/140x140">%>
          <p id="price"><sup id="dollar-symb">$</sup>50<sub id ="per-month">/Month</sub></p>
          <hr />
          <h2>Package2</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span3" style="margin-left: 0px;">
          <%#*<img class="img-circle" data-src="holder.js/140x140">%>
          <p id="price"><sup id="dollar-symb">$</sup>50<sub id ="per-month">/Month</sub></p>
          <hr />
          <h2>Package3</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
      </div>
<!-- end of marketing fields -->