<div id="payment">

  <div class = "payment-errors">
  </div>
  <div class="field" style="padding:20px 0px;">
<%#=radio_button_tag "type_of_transaction", 1%> <%#= "Card Pay" %>  <%#=radio_button_tag "type_of_transaction", 2%> <%#="Direct Debit Setup" %>
    <%= hidden_field_tag "type_of_transaction", 1 %>

<%#=hidden_field_tag "type_of_transaction",nil, name: nil%>
  </div>
  
  <div class="field">
    <%= label_tag :card_number, "Credit Card Number" %>
    <%= text_field_tag :card_no %>
  </div>
  <div class="field">
    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
    <%= text_field_tag "card_code" %>
  </div>
  <div>
    <%= label_tag :card_month, "Card Expiration" %>
  <%=text_field_tag "expire_date"%>
  </div>
  <div id="next_btn">
    <%=submit_tag "Submit",  :class=>"btn btn-primary", :disable_with => "Please wait.." %>
  </div>
</div>
