 
  <% content_for :search do %>

 <div>

  <%#*<p class="title-text">Search</p>%>
      <%= search_form_for @search, :url => '/home/index',:class => 'form-inline search-form' do |f| %>


            <%=f.select :state_cont, State.all.collect {|s| [s.name, s.name]},{:include_blank => "State"},:onchange=>"state_city()"%>

           <%=f.select :city_cont, {}, :include_blank => "City"%>

            <%= f.select :product_name_cont,  Product.where(:product_type=>1).collect {|p| [ p.name, p.name ] }, {:include_blank => "Category"}%>

            <%= f.select :status_eq, {"Active" => 1, "Sold" => 3},{:prompt => "Status"}  %>
    <%#= f.text_field :price_gteq, :style=> 'width: 94px;' %>
    <%#= f.text_field :price_lteq, :style=> 'width: 94px;' %>

         <%= f.submit "Search", :class => 'btn btn-medium btn-success' %>
      </div>
    <% end %>
<%end%>
<script>
 function state_city()
  {
    $.ajax({
      type: 'GET',
      url: "/home/state_cities",

      data: {
        'state' :  $("#q_state_cont").val()

      }

    }).done(function(text) {

  $('#q_city_cont').empty().append(text);
    });
  }
</script>