<script>
  function change_status(tour)
  {
    sts=$("#"+tour).val();
    $.ajax({
      type: 'GET',
      url: "/tours/status_change",

      data: {
        'id' : tour,
        'status': sts
      }

    }).done(function(text) {
  $("."+tour).text(text);
});
  }
  </script>
<%if @tours.empty? or current_user.validate_no_of_tours?%>
<%=render "/shared/status_message"%>
<%else%>
<table class="table table-striped table-bordered">
  <tr><th>Tour Name</th><th>Current Status</th><th>Set Status</th></tr>
<%@tours.each do |tour|%>
  <tr><td><%=tour.tour_name%></td><td><span class="<%=tour.id%>"><%=tour.tour_status%></span></td>
    <td>
      <%if tour.validate_picture_count?%>
   <%=select_tag "#{tour.id}", options_for_select([['Active', 1], ['Sold', 3]]),:prompt=>"Set Status",:onchange=>"change_status(#{tour.id})"%>
    <%else%>
      No of Pictures exceed the Your package limit. Kindly, ajust it.
      <%end%>
    </td></tr>

<%end%>
  </table>
<%end%>
