<% @tours.each do |tour| %>
  <div class="span7 well" id = 'img_bg'>
  <div>
    <%#= t.paintings %>
    <%= link_to(image_tag(tour.paintings.compact.first.image_url(:small)), tour) unless tour.paintings.empty?  %>
    <%= link_to(image_tag('home_default_image_thumb.jpg'), tour) if tour.paintings.compact.empty?  %>
    <div style ="float: right; margin: -6px 200px 0 0; height:100px; width: 350px;">
      <strong><%= tour.zip %>&nbsp;<%= tour.state %>&nbsp;<%= tour.city %></strong><br />
    <b>Beds: </b><%= tour.bed_rooms %> / <strong>Baths: </strong><%= tour.bath_rooms %><br />
    <strong>Price($): </strong> <%= tour.price %><br />
    <strong>Description:</strong>
    <%= raw(truncate tour.description, :length => -115, :omission => "... #{link_to('[more]', tour)}")%><br />
    <% if tour.status == 1 %>
    <strong>Status:</strong> <%= tour.tour_status %>
    <%  else %>
    <strong>Status:</strong><%= tour.tour_status %>
    <% end %>
   </div>
  </div>
</div>
<% end %>
<% if @tours.empty? %>
  <p style="color:red;margin-left:180px;">No Tours found, Please try again!</p>
<% end %>
  <%#= render 'search_form' %>
