<%# @tours.each do |tour| %>
<%#*<div class="span7 well" id = 'img_bg'>%>
<%#*<div>%>
<%#= t.paintings %>
<%#= link_to(image_tag(tour.paintings.compact.first.image_url(:medium)), tour) unless tour.paintings.empty?  %>
<%#= link_to(image_tag('home_default_image_thumb.jpg'), tour) if tour.paintings.compact.empty?  %>
<%#*<div style ="float: right; margin: -6px 200px 0 0; height:100px; width: auto;">%>
<%# title = "#{tour.zip} #{tour.state} #{tour.city}" %>
<%#*<strong><%= link_to title, tour %</strong><br />%>
<%#*<b>Beds: </b><%= tour.bed_rooms %/ <strong>Baths: </strong><%= tour.bath_rooms %<br />%>
<%#*<strong>Price($): </strong> <%= tour.price %<br />%>
<%#*<strong>Category:</strong> <%= tour.product.name %<br />%>
<%#*<strong>Description:</strong>%>
<%#*<span><%=  strip_tags(truncate(tour.description, :length => 30))%</span>%>
<%# if tour.description.length > 30 %>
<%#*<span><%=link_to "[More]", tour %</span>%>
<%#end%>
<%#= raw(truncate tour.description, :length => -115, :omission => "... #{link_to('[more]', tour)}")%<br />
<%# if tour.status == 1 %>
<%#*<strong>Status:</strong> <%= tour.tour_status %>
<%#  else %>
<%#*<strong>Status:</strong><%= tour.tour_status %>

<%# end %>
<%#*</div>%>
<%#*</div>%>
<%#*</div>%>
<%# end %>
<%#******************************************%>

<% @tours.each do |tour| %>
  <div class="listing-grid-item"  style="margin: 0px 0px 0 0; width:284px;">

    <div class="span2" style="margin-left:0px;">
      <% unless tour.paintings.where(:name=>"Front").empty?%>
        <%= link_to(image_tag(tour.paintings.where(:name=>"Front").first.image_url(:extra_small)), tour)   %>
      <%else%>

        <%= link_to(image_tag('default_very_small_home.png',:style=>"width:73;height:73;"), tour)%>

      <%end%>
    </div>

    <div class="span2" style="width:150px;margin: -83px 21px 0px 105px;height:100px;">
      <h4><%= number_to_currency(tour.price, :precision => 0) %></h4>
  <%#*<strong>Sq foot: </strong> <%= tour.square_footage %>
      <span class="vtip" title="<%= tour.add_line_1%><%= tour.add_line_2%>"><%=link_to "#{tour.city}, #{tour.state_code}","#" %></span><br />
      Beds: <%= tour.bed_rooms %> / Baths: <%= tour.bath_rooms %><br />
  <%#*<strong>Category: </strong><%= tour.product.name %<br />%>
  <%#*<strong>Description:</strong>%>
  <%#*<span><%=  strip_tags(truncate(tour.description, :length => 30))%</span>%>
  <%# if tour.description.length > 30 %>
  <%#*<span><%=link_to "[More]",tour %</span>%>
  <%#end%>
  <%#= raw(truncate tour.description, :length => -115, :omission => "... #{link_to('[more]', tour)}")%>
  <%#   <strong>Status: <%=tour.tour_status %>
  <%#</div>
  <div class="span2"style="width:260px;">

  <%=tour.add_line_1%> <%#=tour.add_line_2%>
  <%#  <strong>Category: </strong><%= tour.product.name %>
  <%#  <strong>DateCreated:</strong> <%=tour.created_at.strftime("%b/%d/%Y") %>
    </div>
  </div>
<% end %>

<% if @tours.empty? %>
  <p style="color:red;margin-left:180px;margin-top: 50px;">No Tours found, Please try again!</p>
<% end %>
<%#= render 'search_form' %>

<style>
  .listing-grid-item {
    float: left;
    width: 50%;
    border: medium none;
  }
</style>
