<%# @tours.each do |tour| %>
  <%#*<div class="span7 well" id = 'img_bg'>%>
  <%#*<div>%>
    <%#= t.paintings %>
    <%#= link_to(image_tag(tour.paintings.compact.first.image_url(:medium)), tour) unless tour.paintings.empty?  %>
    <%#= link_to(image_tag('home_default_image_thumb.jpg'), tour) if tour.paintings.compact.empty?  %>
    <%#*<div style ="float: right; margin: -6px 200px 0 0; height:100px; width: auto;">%>
      <%# title = "#{tour.zip} #{tour.state} #{tour.city}" %>
      <%#*<strong><%= link_to title, tour %</strong><br />%>
    <%#*<b>Beds: </b><%= tour.bed_rooms %/ <strong>Baths: </strong><%= tour.bath_rooms %<br />%>
    <%#*<strong>Price($): </strong> <%= tour.price %<br />%>
    <%#*<strong>Category:</strong> <%= tour.product.name %<br />%>
    <%#*<strong>Description:</strong>%>
    <%#*<span><%=  strip_tags(truncate(tour.description, :length => 30))%</span>%>
    <%# if tour.description.length > 30 %>
    <%#*<span><%=link_to "[More]", tour %</span>%>
    <%#end%>
    <%#= raw(truncate tour.description, :length => -115, :omission => "... #{link_to('[more]', tour)}")%<br />
    <%# if tour.status == 1 %>
    <%#*<strong>Status:</strong> <%= tour.tour_status %>
    <%#  else %>
    <%#*<strong>Status:</strong><%= tour.tour_status %>
    
    <%# end %>
   <%#*</div>%>
  <%#*</div>%>
<%#*</div>%>
<%# end %>
 <%#******************************************%>

    <% @tours.each do |tour| %>
<div class="span7 well" id = 'img_bg' style="margin: 0px 30px 1px 40px;">

  <div class="span2" style="width:150px;">
    <%= link_to(image_tag(tour.paintings.compact.first.image_url(:small)), tour) unless tour.paintings.empty?  %>
    <%= link_to(image_tag('home_default_image_thumb.jpg'), tour) if tour.paintings.empty?  %>
  </div>
  <div class="span2">
    <%#*<div style ="float: right; margin: -6px 200px 0 0; height:100px; width: auto;">%>
    <br/>
    <strong>Price: </strong> <%= number_to_currency(tour.price) %><br />
    <b>Beds: </b><%= tour.bed_rooms %> / <strong>Baths: </strong><%= tour.bath_rooms %><br />
    <strong>Sq foot: </strong> <%= tour.square_footage %><br />
    <%#*<strong>Category: </strong><%= tour.product.name %<br />%>
    <%#*<strong>Description:</strong>%>
    <%#*<span><%=  strip_tags(truncate(tour.description, :length => 30))%</span>%>
      <%# if tour.description.length > 30 %>
    <%#*<span><%=link_to "[More]",tour %</span>%>
      <%#end%>

    <%#= raw(truncate tour.description, :length => -115, :omission => "... #{link_to('[more]', tour)}")%>

    <strong>Status: <%=tour.tour_status %></strong><br />




  </div>
  <div class="span2"style="width:185px;">
    <br/>
<%=tour.add_line_1%><br />
    <%=tour.add_line_2%><br />
    <strong>Category: </strong><%= tour.product.name %><br />
    <strong>DateCreated:</strong> <%=tour.created_at.strftime("%b/%d/%Y") %>

   </div>
</div>

<% end %>

<% if @tours.empty? %>
  <p style="color:red;margin-left:180px;margin-top: 50px;">No Tours found, Please try again!</p>
<% end %>
  <%#= render 'search_form' %>
