
<div class="span8">
   <%= render 'shared/welcome_message' if @tours.empty? %>
  
<% @tours.each do |tour| %>
<div class="span7 well" id = 'img_bg' style="margin: 0px 30px 1px 90px;">
  <div>
    <%#= t.paintings %>
    <%= link_to(image_tag(tour.paintings.compact.first.image_url(:medium)), tour) unless tour.paintings.empty?  %>
    <%= link_to(image_tag('home_default_image_thumb.jpg'), tour) if tour.paintings.empty?  %>
  <div style ="float: right; margin: -6px 200px 0 0; height:100px; width: auto;">
    <% title = "#{tour.zip} #{tour.state} #{tour.city}" %>
    <strong><%= link_to title, tour %></strong><br />
    <b>Beds: </b><%= tour.bed_rooms %> / <strong>Baths: </strong><%= tour.bath_rooms %><br />
    <strong>Price: </strong> <%= tour.price %><br />
    <strong>Category: </strong><%= tour.product.name %><br />
    <strong>Description:</strong>
    <span><%=  strip_tags(truncate(tour.description, :length => 30))%></span>
      <% if tour.description.length > 30 %>
    <span><%=link_to "[More]",tour %></span>
      <%end%>

    <%#= raw(truncate tour.description, :length => -115, :omission => "... #{link_to('[more]', tour)}")%><br />
    
    <strong>Status:</strong> <%=tour.tour_status %>
    
    
  </div>

    <div style="float:right;margin: -15px 0px 0px 10px;">
      <%#*<div style="float:right;margin: 10px 20px;">%>
      <%=link_to "view", tour_path(tour.id)%>&nbsp;|
      <%#=link_to "edit", edit_tour_path(tour.id)%>
      <%=link_to "edit", "#edit_tour", :onclick => "edit_tour(#{tour.id})"%>&nbsp;|
      <%=link_to "download", :controller => 'tours', :action => 'download_zip', :id => tour.id %>&nbsp;|
      <%=link_to "delete", tour_path(tour.id),:method=>:delete, :confirm => "Are you sure?"%>
   </div>
  </div>
</div>
<% end %>
</div>
