<div class="span6">
<% @tours.each do |tour| %>

<div class="span6 well" id = 'img_bg' style="margin: 0 30px 1px 0px;">
  <div>
    <%#= t.paintings %>
    <%= link_to(image_tag(tour.paintings.compact.first.image_url(:small)), tour) unless tour.paintings.empty?  %>
  <div style =" margin: -100px 2px 0px 115px;float: left;">
    <strong><%= tour.state %></strong><br />
    <b>Beds: </b><%= tour.bed_rooms %> / <strong>Baths: </strong><%= tour.bath_rooms %><br />
    <strong>Price: </strong> <%= tour.price %><br />
    <strong>Description:</strong>
    <%= raw(truncate tour.description, :length => -115, :omission => "... #{link_to('[more]', tour)}")%><br />
    <% if tour.status == 1 %>
      <p><strong>Status:</strong> Active</p>
    <% end %>
  </div>

    <div style="float:right;margin: -15px 0px 10px 100px;">
   
    <%#*<div style="float:right;margin: 10px 20px;">%>
      <%=link_to "view", tour_path(tour.id)%>&nbsp;|
      <%=link_to "edit", edit_tour_path(tour.id)%>&nbsp;|
   <%=link_to "download", :controller => 'tours', :action => 'download_zip', :id => tour.id %>&nbsp;|
      <%=link_to "delete", tour_path(tour.id),:method=>:delete%>

   </div>
  </div>
</div>
<% end %>
</div>