<script>
  $(document).ready(function(){
    $('.carousel').carousel({
    interval: 7000,
    autoplay: true
  })
  var slider = $(".carousel")

        .bind('slid', function() {
            var index = $(this).find(".active").index();
            $(this).find("a").removeClass('pager-active').eq(index).addClass('pager-active');
        });
    $(".slider-pager a").click(function(e){
        var index = $(this).index();
        slider.carousel(index);
        e.preventDefault();
    });
});
</script>
<style>
  .slider-pager{
    margin-top: 10px;
  }

.slider-pager a.pager-active { background: #2c8571; }
</style>
<%#*<p class="title-text" style="margin:2% 0 10px 10%;">Initial Tour Preview</p>%>
<div class="span11" id="final_tour" style="margin-left: 8%; border-color: #C0C0C0;border-width: 15px;border-radius:15px; color: black;background: white;-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;">
  <div style="height: 507px; width: 800px; margin: 10px 10px 10px 10px;">
    <% @objs = @tour.paintings.offset(1).first 4 %>
    <%# @tour.paintings.each do |img|%>
      <%# @objs << img %>
      <%# @objs.compact! %>
    <%# end %>
    <div id="myCarousel2" class="carousel slide carousel-fade img-border">
      <div class="carousel-inner" style="height: 507px;">
        <%unless @tour.paintings.empty?%>
        <div class="active item">
          <%= image_tag(@tour.paintings.first.image_url(:large))%>
          <div class="container1">
          <div class="carousel-caption1">
              <p><%= @tour.paintings.first.name %></p>
              
            </div>
          </div>
        </div>
        <%@objs.each do |painting|%>
        <div class="item">
          <%= image_tag(painting.image_url(:large))%>
          <div class="container1">
          <div class="carousel-caption1">
              <p><%=painting.name%></p>
              
            </div>
          </div>
        </div>
        <%end%>
          <% else %>
             <div class="active item"><%= image_tag('home_default_image.png')%> </div>
        <% end %>
      </div>

       <%#*<a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>%>
       <%#*<a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>%>
    </div>
  </div>
  <%# unless @objs.empty? %>
  <% unless @tour.paintings.empty? %>
  <div class="slider-pager" style="margin: 8% 0 0 20%;">
    <a href="#main-slider" class="final-tour-btn" ><%= @tour.paintings.first.name%></a>&nbsp;&nbsp;
    <% @objs.each do |painting| %>
    <%# images = @objs.first 5 %>
    <a href="#main-slider" class="final-tour-btn"><%= painting.name%></a>&nbsp;&nbsp;
    <% end %>
  </div>
  <% else %>
    <p style="color:red;margin: 4% 0 0 30%;"> No images uploaded for this tour.</p>
    <% if current_user %>
      <p style="margin: 0% 0 0 30%;">Please, <%= link_to "edit", edit_tour_path(@tour.id) %> tour! </p>
      <% end %>
  <% end %>
  <div style="width: 240px;float: right; margin: -580px 0px 0 150px; font-size: 12px;">
    <table style="margin-right:15px;">
      <tr>
        <th id="tbh">Price($)</th>
        <th id="tbh">Bedrooms</th>
        <th id="tbh">Bathrooms</th>
        <th id="tbh">Sq.feets</th>
      </tr>
      <tr>
        <td><%= @tour.price %> </td>
        <td><%= @tour.bed_rooms %> </td>
        <td><%= @tour.bath_rooms %> </td>
        <td><%= @tour.square_footage %> </td>
      </tr>
    </table><br />
  </div>
  <div style = "position: relative; float:right;height: 150px; width: 23%; margin: -500px 0 0 0; overflow: auto;">
    <%= @tour.description.html_safe %>
  </div>
  <div id ="user_img" style="float: right; height: 200px; width: 150px;margin: -320px 70px -40px 30px;">
    <% if @tour.user.company %>
      <% if @tour.user.company.logo? %>
        <%= image_tag(@tour.user.company.logo_url(:medium)) %>
        <strong><%#= @tour.user.company.name %></strong>
        <% else %>
        <%= image_tag('default_company_logo.png') %>
      <% end %>
      <address>
        <strong><%= @tour.user.company.name == "" ? "Company Name" : "#{@tour.user.company.name}" %></strong><br />
        <%= @tour.user.company.address %>.<br />
      </address>
    <% else %>
      <% if @tour.user.image? %>
      <%= image_tag(@tour.user.image_url(:thumb)) %>
      <% else %>
      <%= image_tag('user_default_image.gif') unless @tour.user.image? %>
      <% end %>
     <strong><%= @tour.user_name %></strong><br />
     <%= @tour.user_address %>
     <% end %>
  </div>
  <div  style="float: right; height: 50px; width: 200px;margin: -40px -20px 0px 0px;">
    <% if !current_user || current_user.id != @tour.user.id %>
      <%= render 'contact/contact_form' %>
        <%= link_to "Request for Info", "#contact", "data-toggle" => "modal", :class => 'btn btn-small btn-success'%>
    <% elsif %>
    <h5 style="margin:0 0 0 35px; color: green;">Your Tour</h5>
    <% end %>
    <% if !@tour.paintings.empty? %>
      <h4><%= button_to "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click for Tour&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, {:controller => 'tours', :action => 'slide_show', :id => @tour.slug }, :class=> 'brn btn-small btn-primary'%></h4>
    <% end %>
  </div>
</div>
<style>
  .final-tour-btn {
  color: black;
  padding: 1px;
  border: 8px solid #C0C0C0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  color: blue;
}
a:hover,
a:focus {
  text-decoration: none;
  color: blue;
}
#tbh{
  border: 4px solid #C0C0C0;
}
.carousel-caption1 {
      width: 100%;
      background-color: transparent;
      position: absolute;
      z-index: 2;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 230px;
    }
.carousel-caption1 p{
  font-size: 20px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel .container1 {
        text-align: center;
  position: absolute;
  top: 33%;
  right: 40%;
  bottom: 0;
  left: 35%;
  }
</style>