<script>
  $(document).ready(function(){
    $('.carousel').carousel({
    interval: 4000,
    autoplay: true
  })
  var slider = $(".carousel-inner")

        .bind('slid', function() {
            var index = $(this).find(".active").index();
            $(this).find("a").removeClass('pager-active').eq(index).addClass('pager-active');
        });
    $(".slider-pager a").click(function(e){
        var index = $(this).index();
        slider.carousel(index);
        e.preventDefault();
    });
});
</script>
<style>
  .slider-pager{
    margin-top: 10px;
  }

.slider-pager a.pager-active { background: #2c8571; }
</style>
<p class="title-text" style="margin:2% 0 10px 10%;">Initial Tour Preview</p>
<div class="span11" id="final_tour" style="margin-left: 8%; border-color: #0073BF;border-width: 30px;border-radius:20px; color: whitesmoke;">
  <div style="height: 507px; width: 800px; margin: 10px 10px 10px 10px;">
    <% @objs = [] %>
    <% @tour.paintings.each do |img|%>
      <% @objs << img %>
      <% @objs.compact! %>
    <% end %>
    <div id="myCarousel2" class="carousel slide carousel-fade" style="background: none repeat scroll 0% 0% rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);">

      <div class="carousel-inner" style="height: 507px;">
        <% unless @objs.empty? %>
          <div class="active item"><%= image_tag(@objs.first.image_url(:large))%></div>
          <% if @objs.size >= 5 %>
            <% for image in @objs.first 5 %>
              <div class="item"><%= image_tag(image.image_url(:large)) %></div>
            <% end %>
          <% else %>
            <% for image in @objs %>
              <div class="item"><%= image_tag(image.image_url(:large)) %></div>
            <% end %>
          <% end %>
          <% else %>
             <div class="active item"><%= image_tag('home_default_image.png')%> </div>
        <% end %>
      </div>

       <%#*<a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>%>
       <%#*<a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>%>
    </div>
  </div>
  <% unless @objs.empty? %>
  <div class="slider-pager" style="margin: 5% 0 0 20%;">
    <% if @objs.size >= 5 %>
    <% for image in @objs.first 5 %>
      <a href="#main-slider" class="btn btn-mini btn-primary"><%= image.name%></a>&nbsp;&nbsp;
    <% end %>
    <% else %>
      <% for image in @objs %>
      <a href="#main-slider" class="btn btn-mini btn-primary"><%= image.name%></a>&nbsp;&nbsp;
    <% end %>
    <% end %>
  </div>
  <% else %>
    <p style="color:red;margin: 4% 0 0 30%;"> No images uploaded for this tour.</p>
    <% if current_user %>
      <p style="margin: 0% 0 0 30%;">Please, <%= link_to "edit", edit_tour_path(@tour) %> tour! </p>
      <% end %>
  <% end %>
  <div style="width: 240px;float: right; margin: -580px 0px 0 150px; font-size: 12px;">
    <table border="1" style="margin-right:15px;">
      <tr>
        <th>Price($)</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Sq.feets</th>
      </tr>
      <tr>
        <td><%= @tour.price %> </td>
        <td><%= @tour.bed_rooms %> </td>
        <td><%= @tour.bath_rooms %> </td>
        <td><%= @tour.square_footage %> </td>
      </tr>
    </table><br />
  </div>
  <p style = "float:right;height: 150px; width: 23%; margin: -500px 0 0 0; overflow-y: auto;overflow-x: hidden;"><%= raw(@tour.description) %></p>
      
  <div id ="user_img" style="float: right; height: 200px; width: 150px;margin: -320px 70px -40px 30px;">
    <% if @tour.user.image? %>
    <%= image_tag(@tour.user.image_url(:medium)) %>
    <% else %>
    <%= image_tag('user_default_image.gif') unless @tour.user.image? %>
    <% end %>
    <strong><%= @tour.user_name %></strong><br />
    <%= @tour.user_address %>
  </div>
  <div  style="float: right; height: 50px; width: 200px;margin: -40px -20px 0px 0px;">
    <% if !current_user || current_user.id != @tour.user.id %>
      <%= render 'contact/contact_form' %>
        <%= link_to "Request for Info", "#contact", "data-toggle" => "modal", :class => 'btn btn-small btn-success'%>
    <% elsif %>
    <h5 style="margin:0 0 0 35px; color: green;">Your Tour</h5>
    <% end %>
    <% if !@objs.empty? %>
      <h4><%= button_to "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click for Tour&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, {:controller => 'tours', :action => 'slide_show', :id => @tour.slug }, :class=> 'brn btn-small btn-primary'%></h4>
    <% end %>
  </div>
</div>