<script>
  $(document).ready(function(){
    $('.carousel').carousel({
    interval: 4500,
    autoplay: true,
    pause: false
  })

  var slider = $(".carousel")

        .bind('slid', function() {
            var index = $(this).find(".active").index();
            $(this).find("a").removeClass('pager-active').eq(index).addClass('pager-active');
        });
    $(".slider-pager a").click(function(e){
        var index = $(this).index();
        slider.carousel(index);
        e.preventDefault();
    });
});
</script>
<style>
  .slider-pager{
    margin-top: 10px;
  }

.slider-pager a.pager-active { background: #2c8571; }
</style>
<%#*<p class="title-text" style="margin:2% 0 10px 10%;">Initial Tour Preview</p>%>
<div class="span11" id="final_tour" style="margin-left:10%; border-color: #C0C0C0;border-width: 15px;border-radius:15px; color: black;background: white;-webkit-border-radius: 80px;
-moz-border-radius: 80px;
border-radius: 80px;width:1120px">
  <div style="height: 510px; width: 880px; margin:  -20px 10px 10px -20px; height:575;">
    <% @objs = @tour.paintings.offset(1).first 4 %>
    <%# @tour.paintings.each do |img|%>
      <%# @objs << img %>
      <%# @objs.compact! %>
    <%# end %>
  
    <div id="myCarousel2" class="carousel slide carousel-fade">
      <div class="carousel-inner" style="height: 507px;">
        <%unless @tour.paintings.empty?%>
        <div class="active item">
<div class="img-border">
     <%@t= @tour.paintings.find(:all,:conditions =>['select_image=?','1'],:order =>'priority')%>
  <%if !@t.empty?%>
          <%= image_tag(@t.first.image) %>
  <%else%>
  <%@t= @tour.paintings.find(:all, :conditions =>['select_image=?','0'], :limit=> '5')%>
    <%= image_tag(@t.first.image) %>
      <%end%>
  
          <div class="carousel-caption1" >
              <p style="font-family: sans-serif;font-size: 30px;"><%= @t.first.name%></p>  
            </div>
          </div>
        </div>
        <%@t.each do |painting|%>
        <div class="item">
<div class="img-border">
          <%= image_tag(painting.image_url(:large))%>
</div>
          <div class="container1">
          <div class="carousel-caption1">
            
              <p style="font-family: sans-serif;font-size: 30px;"><%=painting.name%></p>
            </div>
          </div>
        </div>
        <%end%>
          <% else %>
             <div class="active item"><%= image_tag('home_default_image.png')%> </div>
        <% end %>
      </div>

       <%#*<a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>%>
       <%#*<a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>%>
    </div>
  </div>
  <%# unless @objs.empty? %>
  <% unless @tour.paintings.empty? %>
  <div class="slider-pager" style="margin: 6% 0 20px 20%; width: 50%;">
    
    <% @t.each do |painting| %>
    <%# images = @objs.first 5 %>
    <a href="#main-slider" class="final-tour-btn"><%= painting.name%></a>&nbsp;&nbsp;
    <% end %>
  </div>
  <% else %>
    <p style="color:red;margin: 4% 0 0 30%;"> No images uploaded for this tour.</p>
    <% if current_user %>
      <p style="margin: 0% 0 0 30%;">Please, <%= link_to "edit", edit_tour_path(@tour.id) %> tour! </p>
      <% end %>
  <% end %>
  <div style="width: 240px;float: right;margin-left: 3%; margin: -320px 0px 0 150px; font-size: 15px;">
    <center><br/>
    <h4><%= "#{@tour.zip} #{@tour.city}" %></h4>
    <table style="margin-left:-10px;margin-top: 20px; text-align: center;">
   <tr id="tbr">
     <td> Price &nbsp;&nbsp;</td>
        <td>$<%= @tour.price %> </td>
    </tr>
    <tr id="tbr">
      <td> Beds &nbsp;&nbsp;</td>
        <td><%= @tour.bed_rooms %> </td>
     </tr>
     <tr id="tbr">
       <td> Baths &nbsp;&nbsp;</td>
        <td><%= @tour.bath_rooms %> </td>
        </tr>
      <tr id="tbr">  
        <td> Sq.Feet &nbsp;&nbsp;</td>
        <td><%= @tour.square_footage %> </td>
      </tr>
      <tr id="tbr">
        <td>Acreage &nbsp;&nbsp</td>
        <td><%=@tour.acreage%></td>
      </tr> 
    </table></center>
    </div><br /><br /><br />
  <div style = "position: relative; float:right;height: 150px; width: 19%; margin: -540px 2px 0 0; overflow: auto;">
    <h4> <%= @tour.description.html_safe %></h4>
  </div>
  <div id ="user_img" style="float: right; height: 450px; width: 150px;margin: -650px 70px -40px 30px;">
    <% if @tour.user.company %>
      <% if @tour.user.company.logo? %>
        <%= image_tag(@tour.user.company.logo_url(:medium)) %>
        <strong><%#= @tour.user.company.name %></strong>
        <% else %>
        <%= image_tag('default_company_logo.png') %>
      <% end %>
      <address>
        <strong><%= @tour.user.company.name == "" ? "Company Name" : "#{@tour.user.company.name}" %></strong><br />
        <%= @tour.user.company.address %>.<br />
      </address>
    <% else %>
      <% if @tour.user.image? %>
      <%= image_tag(@tour.user.image_url(:thumb)) %>
      <% else %>
      <%= image_tag('user_default_image.gif') unless @tour.user.image? %>
      <% end %>
     <strong><%= @tour.user_name %></strong><br />
     <%= @tour.user_address %>
     <% end %>
  </div>
  <div  style="float: right; height: 50px; width: 200px;margin: -80px -240px 0px 0px;">
    <% if !current_user || current_user.id != @tour.user.id %>
      <%= render 'contact/contact_form'  %>
    <%= link_to "Request for Info", "#contact", "data-toggle" => "modal", :class => 'btn btn-small btn-success', :style=>"margin:0 0 0 -225px;"%>
    <% elsif %>
    <h5 style="margin:0 0 0 -195px; color: green;">Your Tour</h5>
    <% end %>
    <% if !@tour.paintings.empty? %>
      <h4 style="margin:10px 0 0 -235px;"><%= button_to "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click for Tour&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, {:controller => 'tours', :action => 'slide_show', :id => @tour.slug }, :class=> 'brn btn-small btn-primary'%></h4>
    <% end %>
  </div>
</div>
<style>
  .final-tour-btn {
  padding: 3px;
  border: 4px solid #C0C0C0;
  background: #C0C0C0;
  -webkit-box-shadow: 0px 1px 4px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 1px 4px rgba(50, 50, 50, 1);
box-shadow:         0px 1px 4px rgba(50, 50, 50, 1);
  text-decoration: none;
  color: blue;
}
a:hover,
a:focus {
  text-decoration: none;
  color: black;
}
#tbh{
  border-right: 1px black solid;
  padding: 3px;
  font-size: 15px;
}
#tbr{
  border: 4px solid #C0C0C0;
}
.carousel-caption1 {
      width: 400%;
      background-color: transparent;

      z-index: 1;
      position: absolute;
      padding: 0 20px;
      margin-top: 280px;
      margin-left: -330px;
    }
.carousel-caption1 p{
  font-size: 20px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel .container1 {
  text-align: center;
  position: absolute;
  top: 33%;
  right: 40%;
  bottom: 0;
  left: 35%;
  }
</style>
