<h2 style="margin: 0 0 10px 280px;">List of Tours</h2>
<div class="span6">
<% @tours.each do |tour| %>
<div class="span6 well" id = 'img_bg' style="margin: 0 0 0px 300px;">
  <div>
    <%#= t.paintings %>
    <%= link_to(image_tag(tour.paintings.compact.first.image_url(:small)), tour) unless tour.paintings.empty?  %>
  <div style ="float: right; margin: -6px 100px 0 0; height:120px; width: 350px;">
    <b><%= tour.state %></b><br />
    <i>Beds:</i> <%= tour.bed_rooms %> / <i>Baths:</i><%= tour.bath_rooms %><br />
    <strong>&#36; <%= tour.price %></strong><br />
    <%=raw truncate(tour.description, :length => -70, :omission => link_to( "&nbsp;More...".html_safe, tour)) %>
    <p>Virtual Tour Available</p>
  </div>
  </div>
</div>
<% end %>

<% if @tours.blank? %>
  <p style="color:red;margin-left:280px;">No Tours found, Please try again!</p>
<% end %>
  <%= render 'search_form' %>
<div class ="span4" style="margin: 0 0px 0 300px; float: left;">
  <%= will_paginate @tours, :renderer => BootstrapPagination::Rails %>
</div>
</div>

