<h2 style="margin: 0 0 10px 300px;">List of Tours</h2>
<% @tours.each do |t| %>
<div class="span6" style="background-color: #D3D3D3; margin: 0px 0 0 300px;padding: 10px 10px 0px 10px; border-radius: 2px;">
  <div>
    <%= link_to(image_tag(t.paintings.first.image_url(:small)),{ :controller => 'tours', :action => 'show', :id => t.id}) %>
  <div style ="float: right; margin: 0 330px 0 0">
    <%= t.address %><br />
    <%= t.bed_rooms %> Beds / <%= t.bath_rooms %> Baths<br />
    &#36; <%= t.price %><br />
    <%= link_to "More information...." %><br />
    <p>Virtual Tour Available</p>
  </div>
    
  </div>
  <% if current_user %>
    <div style="float: right;margin: -15px 0 0 100px;">
      <%= link_to "Edit", '#' %> |
      <%= link_to "Delete", {:controller => 'tours', :action => 'destroy', :id => t.id}, :method => :delete, :confirm => "Are you sure, the action can't be undone?" %>
    </div>
    <% end %>
  <hr />
</div>
<% end %>

