
<div class="span10" id="final_tour">
  <div style="height: 400px; width: 675px; margin: 30px 0px 0px 30px;">
    <% @objs = [] %>
    <% @tour.paintings.each do |img|%>

      <% @objs << img %>
    <% end %>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item"><%= image_tag(@objs[0].image_url(:large))%> </div>
        <div class="item"><%= image_tag(@objs[1].image_url(:large))%></div>
        <div class="item"><%= image_tag(@objs[2].image_url(:large)) %></div>
        <div class="item"><%= image_tag(@objs[3].image_url(:large)) %></div>
        <div class="item"><%= image_tag(@objs[4].image_url(:large)) %></div>
      </div>

       <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

  </div>
  <div id="user_img">
    <% if signed_in? %>
    <%= image_tag(@tour.user.image_url(:medium)) %>
    <strong><%= @tour.user.email %></strong><br />
    <% else %>
    <%= image_tag(@tour.user.image_url(:medium)) %>
    <strong><%= @tour.user.name %></strong><br />
  <% end %>
  </div>
  <div style="float: right; height: 150px; width: 200px;border: 1px solid red;margin: -150px 30px 0 30px;">
    image1
  </div>
  <div  style="float: right; height: 50px; width: 200px;margin: 80px -230px 0px 30px;">
    <% if !current_user || current_user.id != @tour.user.id %>
      <%= render 'contact/contact_form' %>
        <%= link_to "Request for Info", "#contact", "data-toggle" => "modal", :class => 'btn btn-large btn-success'%>
    <% elsif %>
    <h5 style="margin:0 0 0 35px; color: green;">Your Tour</h5>
    <% end %>
    <h4><%= button_to "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click for Tour&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, {:controller => 'tours', :action => 'slide_show', :id => @tour.id }, :class=> 'brn btn-large btn-primary'%></h4>
  </div>

  <div style="height: 200px; width: 650px; margin: 50px 0 0 30px;">
    <table>
      <tr>
        <th>Address</th>
        <th>Price</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Sq.feets</th>
      </tr>
      <tr>
        <td><%= @tour.state %> </td>
        <td><%= @tour.price %> </td>
        <td><%= @tour.bed_rooms %> </td>
        <td><%= @tour.bath_rooms %> </td>
        <td><%= @tour.square_footage %> </td>
      </tr>
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5"><%= @tour.description %> </td>
      </tr>
    </table>
  </div>
</div>