<div class="span11" id="final_tour" style="margin-left: 8%;border: 40px solid black;border-radius:20px;">
  <div style="height: 400px; width: 675px; margin: 30px 0px 0px 30px;">
    <% @objs = [] %>
    <% @tour.paintings.each do |img|%>
      <% @objs << img %>
    <% end %>
    <div id="myCarousel2" class="carousel slide carousel-fade">
      <div class="carousel-inner" style="height: 450px;">
        <div class="active item"><%= image_tag(@objs[0].image_url(:large))%> </div>
        <div class="item"><%= image_tag(@objs[1].image_url(:large))%></div>
        <div class="item"><%= image_tag(@objs[2].image_url(:large)) %></div>
        <div class="item"><%= image_tag(@objs[3].image_url(:large)) %></div>
        <div class="item"><%= image_tag(@objs[4].image_url(:large)) %></div>
      </div>
       <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div style="margin: 10% 0 0 20%;border: 1px solid red;width:40%;">
    <%= link_to "Image1", '#', :class => 'btn btn-mini btn-primary' %>&nbsp;
    <%= link_to "Image2", '#', :class => 'btn btn-mini btn-primary' %>&nbsp;
    <%= link_to "Image3", '#', :class => 'btn btn-mini btn-primary' %>&nbsp;
    <%= link_to "Image4", '#', :class => 'btn btn-mini btn-primary' %>&nbsp;
    <%= link_to "Image5", '#', :class => 'btn btn-mini btn-primary' %>
  </div>
  <div style="float: right; margin: -550px 50px 0 150px; font-size: 12px;">
    <table border="1">
      <tr>
        <th>Price</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Sq.feets</th>
      </tr>
      <tr>
        <td><%= @tour.price %> </td>
        <td><%= @tour.bed_rooms %> </td>
        <td><%= @tour.bath_rooms %> </td>
        <td><%= @tour.square_footage %> </td>
      </tr>
    </table>
  </div>
  
  <div style="float: right; margin: -470px 20px 0 80px; font-size: 12px;">
    <b>Description:</b><br />
    <%= @tour.description %>
  </div>
  <div id ="user_img" style="float: right; height: 200px; width: 200px;margin: -320px 20px 0 30px;">
    <% if signed_in? %>
    <%= image_tag(@tour.user.image_url(:medium)) %>
    <strong><%= @tour.user.email %></strong><br />
    <% else %>
    <%= image_tag(@tour.user.image_url(:medium)) %>
    <strong><%= @tour.user.name %></strong><br />
  <% end %>
  </div>
  <div  style="float: right; height: 50px; width: 200px;margin: -10px 20px 0px 10px;">
    <% if !current_user || current_user.id != @tour.user.id %>
      <%= render 'contact/contact_form' %>
        <%= link_to "Request for Info", "#contact", "data-toggle" => "modal", :class => 'btn btn-large btn-success'%>
    <% elsif %>
    <h5 style="margin:0 0 0 35px; color: green;">Your Tour</h5>
    <% end %>
    <h4><%= button_to "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click for Tour&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, {:controller => 'tours', :action => 'slide_show', :id => @tour.id }, :class=> 'brn btn-large btn-primary'%></h4>
  </div>

  
</div>