
<div class ="span3" id="map-search" style="margin-top:2%;">
  <p class="title-text">Search</p>
  <%= search_form_for @search, :url => '/tours/view_map', :class => 'well form-inline', :id => 'img_bg' do |f| %>
    <%= f.label :state_cont, "State" %>
    <%=f.select :state_cont, State.all.collect {|s| [s.name,s.name]},{:include_blank=>"All"},:onchange=>"state_city()"%>
    <%= f.label :city_cont, "City" %>
    <%=f.select :city_cont, {}, :include_blank=>"All"%><br />
    <%= f.label :product_name_cont, "Category" %>
    <%= f.select :product_name_cont,  Product.where(:product_type=>1).collect {|p| [ p.name, p.name ] }, {:include_blank => "All"}%><br />
    <%= f.label :status_eq, "Status" %>
    <%= f.select :status_eq, {"Active" => 1, "Sold" => 3}  %><br />
    <%#= f.label :price_gteq, "Price Between" %>
    <%#= f.text_field :price_gteq, :style=> 'width: 94px;' %<%#= f.text_field :price_lteq, :style=> 'width: 94px;' %>
    <br/><%= f.submit "Search", :class => 'btn btn-medium btn-success' %>
  <% end %>
</div>
<div id="map-div" style="margin-top: 2%; padding-top:  6px;">
  <p class="title-text">Tour Map</p>
<%= gmaps4rails(@json)%>
</div>

<script>
 function state_city()
  {
    $.ajax({
      type: 'GET',
      url: "/home/state_cities",

      data: {
        'state' :  $("#q_state_cont").val()
      }
    }).done(function(text) {

  $('#q_city_cont').empty().append(text);
    });
  }
  function find_map_tours()
  {
    //alert('ok');
    $('form#map_tour_form').submit();
  }
</script>