<h4>Provide your company Details:</h4>
<hr />
<div>
          <%= label_tag "Company Name" %>
          <%= text_field_tag "company[name]" %>
        </div>
        <div>
          <%= label_tag "Address" %>
          <%= text_field_tag "company[address]" %>
        </div>
        <div>
          <%= label_tag "logo" %>
          <%= file_field_tag "company[logo]" %>
        </div>