<div id="signin_div" style="width:30%;">
<h3>Edit Company Details</h3>
<hr />
<%= form_for @company, :url => '/companies/update' do |f| %>
<%= f.hidden_field :id %>
<div>
  <%= f.label :name, 'Company Name'  %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>
  <%= f.label :logo, "Change Company logo" %>
  <%= f.file_field :logo, :id => 'company_logo', :style=>"display:none;" %>

<div class="input-append">
  <input id="photoCover" class="input-large" type="text" style="width:146px;"/>
  <a class="btn btn-primary" onclick="$('input[id=company_logo]').click();">Browse</a>
</div><br />

<%= f.submit "Update", :class=>'btn btn-primary' %>
<% end %>
<div style="float:right;margin: -25% 25% 0 0px;height:60px; width:60px;">
  <% if current_user.company.logo? %>
    <%= image_tag current_user.company.logo_url(:thumb) %>
  <% else %>
    <%= image_tag 'default_company_logo.png' %>
  <% end %>
</div>
<br /><br />
</div>

<script>
  $('input[id=company_logo]').change(function(){
    $('#photoCover').val($(this).val());
  });
  </script>