<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "twitter/bootstrap" %>

<div>
  <h1>What's going on?</h1>
  <div class="container-fluid">
    <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Users (<%= @users.count %>)
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
        <div class="accordion-inner">

          <table class="table table-striped table-bordered table-condensed">

            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Ph No</th>
              <th>Packages</th>
            </tr>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %> </td>
              <td><%= user.email %></td>
              <td><%= user.phno %> </td>
              <td>packages</td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
         Tours (<%= @tours.count %> )
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <table class="table table-striped table-bordered table-condensed">
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Inactive From</th>
            </tr>
            <% @tours.each do |t| %>
            <tr>
              <td><%= t.name.gsub(/%/, '-') %></td>
              <td style="color: green;"><%= t.tour_status %></td>
              <% if t.status == 2  %>
              <td><%= t.updated_at.strftime("%d-%b-%y, %A (%H:%M)")%>  </td>
              <% else %>
              <td>-</td>
              <% end %>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
      <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          Sales
        </a>
      </div>
      <div id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
          <table class="table table-striped table-bordered table-condensed">

            <tr>
              <th>User Name</th>
              <th>User Email</th>
              <th>Amount($)</th>
              <th>Payment Date</th>
            </tr>
            <% @payments.each do |payment| %>
            <tr>
              <td><%= payment.user_name %> </td>
              <td><%= payment.user_email %></td>
              <td><%= payment.amount %> </td>
              <td><%= payment.created_at.strftime("%d-%b-%y, %A") %></td>
            </tr>
            <% end %>
            <tr>
              <br />
              <hr />
            <b><td>Total Amount:</td></b>
            <% amount = 0 %>
            <% @payments.each {|p| amount += p.amount}%>
            <td>&nbsp;</td>
            <td><%= amount  %>  </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          Performance
        </a>
      </div>
      <div id="collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
