<%= javascript_include_tag 'jquery.nav' %>
<%= javascript_include_tag 'jquery.scrollTo' %>
<div class="navbar navbar-fixed-top" style="background: rgb(19, 39, 90);">
  <div class="navbar-inner1" style="margin-left: 100px; background: rgb(19, 39, 90);">
<%= link_to image_tag("rsz_1virtual_i_logo_300dpi.png", :alt => "Virtuali"), root_path, :style=> "float:left; clear:none;"%>
    <div class="container" style="margin: 10px 10px 0 100px;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%#= link_to image_tag("Virtual I Logo 300dpi.png", :size => "100x100", :alt => "Virtuali"), root_path%>
      <div class="nav-collapse" style="margin-top:20px;">
      <ul class="nav nav-pills" id="top-nav">
        <li><%= link_to "Home", root_path if !current_user %></li>
        <li><%#= link_to "About VI", '/pages/about_vi'%></li>
        <li><%#= link_to "Products", '/pages/products'%> </li>
        <li><%#= link_to "Pricing", '/pages/pricing' %> </li>
        <li><%#= link_to "Tutorial", '/pages/tutorial' %> </li>
        <li><%= link_to "Tours Map", '/tours/view_map'%> </li>
        <li><%= link_to "All Tours", tours_path %> </li>
        <li><%#= link_to "How to?", '/pages/how_to' %> </li>
        <li><%#= link_to "FAQ", '/pages/faq'%></li>
      </ul>
      <div class="navbar-text pull-right">
      <ul class="nav" style="margin-right: 155px;">
      <% if current_user %>
        <li style="margin: -11px 0 0 0;"><a href="#"><i class="icon-user"></i><%= current_user.name%> </a></li>
        <li class="dropdown" id="menu1">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
           Account
           <b class="caret"></b>
          </a>
          <div class="dropdown-menu">
           <%#= link_to '<i class="icon-pencil"></i>Edit'.html_safe, edit_user_registration_path(:id)%>
           <%= link_to '<i class="icon-off"></i>Signout'.html_safe, destroy_user_session_path, :method => :delete %>
         </div>
       </li>
    <% else %>
        <%#*<li><%= link_to "Signin", new_user_session_path %</li>%>
        <li class="dropdown" id="menu1" style="margin-bottom: 9px;">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
           Login
            <b class="caret"></b>
         </a>
         <div class="dropdown-menu">
           <form style="margin: 0px" accept-charset="UTF-8" action="/users/sign_in" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="4L/A2ZMYkhTD3IiNDMTuB/fhPRvyCNGEsaZocUUpw40=" /></div>
             <fieldset class='textbox' style="padding:10px">
               <input style="margin-top: 8px" type="email" value="" size="30" name="user[email]" id="user_email" autofocus="autofocus" placeholder="Username"/>
               <input style="margin-top: 8px" type="password" size="30" name="user[password]" id="user_password" placeholder="Passsword"/>
               <label class="checkbox"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me"/>Remember me</label>
               <input type="submit" value="Sign in" name="commit" class="btn btn-primary" style="border-radius: 3px;"/><br />
              <a href="/users/password/new" style="margin-left: 2px;">Forgot your password?</a>
             </fieldset>
           </form>
         </div>
       </li>
        <li><%= link_to "Signup", new_user_registration_path %></li>
    <% end  %>
      </ul>
    </div>
    </div>
    </div>
  </div>
</div>
